{% if not theme %}
    <div class="admin-theme-switch">
        <a class="admin-theme-switch__item hover:text-base-700 dark:hover:text-base-200"
           x-on:click="switchTheme('light')"
           x-bind:class="adminTheme == 'light' && 'text-primary-600 dark:text-primary-500'">
            <span class="material-symbols-outlined">light_mode</span>
            <span class="admin-theme-switch__label">Светлая</span>
        </a>

        <a class="admin-theme-switch__item hover:text-base-700 dark:hover:text-base-200"
           x-on:click="switchTheme('dark')"
           x-bind:class="adminTheme == 'dark' && 'text-primary-600 dark:text-primary-500'">
            <span class="material-symbols-outlined">dark_mode</span>
            <span class="admin-theme-switch__label">Тёмная</span>
        </a>

        <a class="admin-theme-switch__item hover:text-base-700 dark:hover:text-base-200"
           x-on:click="switchTheme('auto')"
           x-bind:class="adminTheme == 'auto' && 'text-primary-600 dark:text-primary-500'">
            <span class="material-symbols-outlined">computer</span>
            <span class="admin-theme-switch__label">Системная</span>
        </a>
    </div>
{% endif %}
