{% load i18n %}
<div class="requisites-rows" data-requisites-rows>
  <input type="hidden"
         name="{{ widget.name }}"
         value="{{ widget.json_value }}"
         {% include "django/forms/widgets/attrs.html" %}
         data-requisites-json>
  <div class="requisites-rows__list" data-requisites-list>
    {% for row in widget.standard_rows %}
      <div class="requisites-rows__item requisites-rows__item--standard" data-requisites-row>
        <div class="requisites-rows__name">{{ row.label }}</div>
        <input type="hidden" value="{{ row.label }}" data-requisites-label>
        <label class="requisites-rows__field">
          <span>{% trans 'Значение' %}</span>
          <input type="text" value="{{ row.value }}" data-requisites-value maxlength="240" autocomplete="off">
        </label>
      </div>
    {% endfor %}
    {% for row in widget.extra_rows %}
      <div class="requisites-rows__item" data-requisites-row>
        <label class="requisites-rows__field">
          <span>{% trans 'Подпись' %}</span>
          <input type="text" value="{{ row.label }}" data-requisites-label maxlength="80" autocomplete="off">
        </label>
        <label class="requisites-rows__field">
          <span>{% trans 'Значение' %}</span>
          <input type="text" value="{{ row.value }}" data-requisites-value maxlength="240" autocomplete="off">
        </label>
        <button type="button" class="requisites-rows__remove" data-requisites-remove>
          {% trans 'Удалить' %}
        </button>
      </div>
    {% endfor %}
  </div>
  <button type="button" class="requisites-rows__add" data-requisites-add>
    {% trans 'Дополнительная строка' %}
  </button>
  <template data-requisites-template>
    <div class="requisites-rows__item" data-requisites-row>
      <label class="requisites-rows__field">
        <span>{% trans 'Подпись' %}</span>
        <input type="text" value="" data-requisites-label maxlength="80" autocomplete="off">
      </label>
      <label class="requisites-rows__field">
        <span>{% trans 'Значение' %}</span>
        <input type="text" value="" data-requisites-value maxlength="240" autocomplete="off">
      </label>
      <button type="button" class="requisites-rows__remove" data-requisites-remove>
        {% trans 'Удалить' %}
      </button>
    </div>
  </template>
</div>
